@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap");

:root {
  --primary-background-color1: rgb(0, 1, 39);
  --primary-background-color2: rgb(230, 220, 0);
  --primary-background-color3: rgb(180, 0, 159);
  --nav-color: rgb(253, 0, 68);
  --primary-font-color1: azure;
}

html {
  font-size: 16px;
}
html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  transition: all 0.3s ease;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.02em;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
.nav-color {
  color: var(--nav-color);
}
.font-color-1 {
  color: var(--primary-font-color1);
}
/* navigation bar */
nav {
  width: 100%;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 0 0 16px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7em 2em;
  position: fixed;
  z-index: 99999;
  top: 0;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  nav {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

nav a {
  font-size: max(1.8svw, 20px);
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 0.2em 1svw;
  text-shadow: 1px 1px 10px black;
}

nav i {
  font-size: 2em;
  color: var(--primary-font-color1);
  cursor: pointer;
  display: none;
}

.center-nav {
  display: flex;
  gap: 4em;
}
.center-nav a:hover {
  color: var(--nav-color);
  /* text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5); */
  text-shadow: 1px 1px 10px black, 0 0 20px var(--nav-color);
  transform: scale(1.1);
}

.outer {
  overflow-x: hidden;
  margin-bottom: -100svh;
}
.slider {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
section {
  height: 100svh;
  width: 100svw;
  overflow-y: hidden;
}

.one {
  width: 100%;
  height: 100svh !important;
  overflow-y: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10% 0 0;
  background-color: var(--primary-background-color1);
}
#profile {
  width: 25%;
  min-width: 250px;
  border: 0.3em solid white;
  border-radius: 100%;
  position: relative;
  z-index: 9999;
}
.svg {
  width: 25%;
  min-width: 250px;
  border-radius: 100%;
  position: relative;
  z-index: 9999;
}
.intro {
  font-size: 5svh;
  font-weight: 100 !important;
  text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.393);
  position: relative;
  z-index: 9999;
}
#typing-text {
  font-size: 3rem;
  display: inline-block;
  border-right: 2px solid var(--nav-color); /* Blinking cursor style */
  padding-right: 10px;
}
.about-content {
  font-size: max(1.5svw, 15px);
  width: max(40svw, 250px);
}

#main {
  overflow-x: hidden;
  height: 100%;
  background-color: rgb(230, 220, 0);
  overflow-y: hidden;
  width: 100%;
}
#circle {
  width: 80svw;
  height: 80svw;
  border-radius: 50%;
  position: relative;
  left: -50svw;
  top: 50%;
  color: white;
  font-size: 2em;
  transform: translate(0%, -50%) rotate(100deg);
  border: 2px solid white;
}
.stripe {
  width: 100%;
  height: 65px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
  transform-origin: 0% 50%;
  display: flex;
}
.str1 {
  transform: translate(0, -50%) rotate(-40deg) !important;
}
.str2 {
  transform: translate(0, -50%) rotate(-20deg) !important;
}
.str4 {
  transform: translate(0, -50%) rotate(20deg) !important;
}
.str5 {
  transform: translate(0, -50%) rotate(40deg) !important;
}
.first {
  width: 50%;
  height: 100%;
  position: relative;
}
.second {
  width: 50%;
  height: 300%;
  display: flex;
}
.second img {
  margin: 0 30px;
  object-fit: contain;
  transition: all 0.5s ease;
  position: relative;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.272);
}

.second h3 {
  font-size: max(2svw, 18px);
  min-width: 40svw;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.272);
}
.smcircle {
  width: 10vw;
  height: 10vw;
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translate(0, 50%);
}

#panel {
  width: 5%;
  height: 30%;
  position: absolute;
  right: 1%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 250%;
  right: 10vw;
}
.mncircle {
  width: 2svw;
  height: 2svw;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

/*--------------media query---------------*/
@media screen and (min-width: 750px) and (max-width: 1130px) {
  .second {
    height: 180% ;
  }
}

@media screen and (max-width: 750px) {
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    nav {
      -webkit-backdrop-filter: blur(100px);
      backdrop-filter: blur(100px);
    }
  }
  nav {
    padding: 2em 1em 1.5em 1em;
    width: auto;
    min-width: 50px;
    position: fixed;
    right: 20px;
  }

  .center-nav {
    flex-direction: column;
    gap: 1em;
    margin: 1em 0 0 0;
    display: none;
  }

  .center-nav a {
    margin-bottom: 1em;
    text-align: center;
    font-size: 1.8em;
    padding: 10px;
  }
  nav i {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0 auto;
  }
  .intro {
    margin: 15svh 0 5svh 0;
    font-size: max(4svw, 12px);
  }
  #typing-text {
    font-size: 3svh;
  }
  .profile {
    margin-top: -100px;
  }
  .svg {
    margin-top: -50px;
    margin-bottom: -100px;
  }

  #circle {
    left: -60svw;
  }
  .stripe {
    gap: 250px;
  }
  .first {
    margin-left: -150px;
  }
  .second {
    height: 180%;
    margin: 0 30px;
  }
  .second img {
    width: 100px;
    box-shadow: none;
  }
  .second h3 {
    min-width: 40svw;
    display: flex;
    align-items: center;
  }
  .smcircle {
    width: 1svw;
    height: 1svw;
    right: -15svw;
    top: 90%;
  }
}
