:root{
    --primary-background-color1: #000127;
    --primary-background-color2: rgb(66, 0, 113);
    --primary-background-color3: #b4009f;
    --nav-color: rgb(255, 0, 68);
    --primary-font-color1: azure;
    --primary-font-size: 1.6rem;
}
*{
    margin: 0;
    padding: 0;
    font-family: poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--primary-font-size);
    color: var(--primary-font-color1);
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body{
    overflow-x: hidden;
    background: linear-gradient(75deg, var(--primary-background-color1), var(--primary-background-color2), var(--primary-background-color3));
    background: url('background.jpeg') cover no-repeat;
    width: 100%;
}

    /* Navigation bar */
nav{
    width: 100%;
    background-color: var(--nav-color);
    position: sticky;
    top: 0;
    padding: 1rem 0;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    text-shadow: 1px 1px 1px black;
}

    /* header-section */
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100svh;
    padding-top: 1rem ;
}
.header-container{
    max-width: 90%;
    padding: 5%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 20% 15% 65%;
    text-shadow: 1px 1px 1px  black;

}
.header-1 p:nth-child(1){
    font-size: 6rem;
    padding-top: 5%;
}

.header-2{
    grid-column-start: 1;
    grid-column: span 2;
    grid-row-start: 2;
}
.header-2 p{
    font-size: 2.74rem;
    font-weight: 600;
}
.header-3{
    grid-column-start: 1;
    grid-column: span 2;
    grid-row-start: 3;
}
.profile img{
    padding: 0rem;
    height: 10rem;
    font-style: italic;
}
.header-3 p:nth-child(1), .certificates-header, #projects-header, #contact-header{
    color: var(--nav-color);
    font-size: 3rem;
    font-weight: bold;
}

    /* certificate-section */
#certificates-container{
    /* background: linear-gradient(60deg, var(--primary-background-color1), var(--primary-background-color2), var(--primary-background-color3)); */
    width: 100%;
    padding-top: 0rem;
    text-shadow: 1px 1px 1px  black;
    padding-top: 15%;
}
.certificates-header{
    text-align: center;

}
.certificates{
    /* width: 90%; */
    margin: 0 10%; 
    display: grid;
    grid-template-columns: repeat(8, 100%);
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 3rem;
    padding-top: 5%;
}

.certificates::-webkit-scrollbar {
  width: 12px;
}

.certificates::-webkit-scrollbar-track {
  background: var(--primary-background-color1);
}

.certificates::-webkit-scrollbar-thumb {
  background: var(--nav-color);
  border-radius: 0 100% 100% 0;
}

.certificates > *{
    scroll-snap-align: start;
}
figure{
    background-color: var(--primary-background-color1);
    box-shadow: 0px 0px 10px 1px black;
    border-radius: 5px;
}
figure img{
    width: 100%;
    height: 70%;
    border-radius: 5px; 
}
figcaption{
    text-align: center;
    font-size: 1.8rem;
    color: var(--nav-color);
    font-weight: bold;
}
.figcaption{
    padding-top: 1%;
    text-align: center;
    font-size: 1.6rem;
}

/* projects-section */
#projects-container{
    padding-top: 15%;
    height: 50svh;
    width: 100%;
}
#projects-header{
    text-align: center;
}
#projects{
    text-align: center;
    margin: auto;
    padding: 15svh 0;
    box-sizing: border-box;
    font-size: var(--primary-font-size);
}

#contact-container{
    background-color: var(--nav-color);
    height: 20svh;
}
#contact-header{
    color: var(--primary-font-color1);
    padding-left: 5%;
}

#contact-footer{
    width: 100%;
    color: var(--primary-font-color1);
    padding: 5%;
    text-align: center;
    background-color: var(--nav-color);
}

.contact-icons{
    color: var(--primary-font-color1);
}
.github{
    color: var(--primary-font-color1);
    height: 50px;
}
#contact{
    display: flex;
    justify-content: space-evenly;

    padding: 5svh 0;
}